<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="DefaultBinding">
                    <security mode="Transport">
                        <transport clientCredentialType="Certificate" />
                    </security>
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://dev.efrete.com.br/Services/VeiculosService.svc"
                binding="wsHttpBinding" bindingConfiguration="DefaultBinding"
                contract="VeiculosService.VeiculosService" name="DefaultBinding" />
            <endpoint address="https://dev.efrete.com.br/Services/MotoristasService.svc"
                binding="wsHttpBinding" bindingConfiguration="DefaultBinding"
                contract="MotoristasService.MotoristasService" name="DefaultBinding" />
            <endpoint address="https://dev.efrete.com.br/Services/ProprietariosService.svc"
                binding="wsHttpBinding" bindingConfiguration="DefaultBinding"
                contract="ProprietariosService.ProprietariosService" name="DefaultBinding" />
            <endpoint address="https://dev.efrete.com.br/Services/PefService.svc"
                binding="wsHttpBinding" bindingConfiguration="DefaultBinding"
                contract="PefService.PefService" name="DefaultBinding" />
        </client>
    </system.serviceModel>
</configuration>